.project
.pydevproject
*.pyc
*.*~
*.log
profile.txt
*.so
build/
_build/
*.egg-info/
dist/
.ropeproject/
.ipynb_checkpoints/
*.swp
notebooks/*.h5
.idea/*
.idea
.DS_Store

# Ignoring Local datasets: 
data/REDD
data/ukdale
*.h5
*.tar
*.dat

