# System, build, IDE files/folders
__pycache__/
_build/
.DS_Store
.idea
.ipynb_checkpoints
.project
.pydevproject
.pytest_cache/
.ropeproject
.ruff_cache/
.venv/
build/
dist/
venv/
profile.txt
*.*~
*.egg-info
*.log
*.pyc
*.so
*.swp

# Ignoring Local datasets: 
data/REDD
data/ukdale
*.h5
*.tar
*.dat
